# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# macOS
.DS_Store

# PyInstaller
build/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Python cache
.pytest_cache/

# OpenCV temp
*.avi